@model IEnumerable<HotelJerbourg.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
        </td>
    </tr>
}

</table>
